crash-reports/
fonts/
mputils/
mods/
saves/
screenshots/
resourcepacks/
journeymap/
logs/
bmc/
advRocketry/
asm/
backups/
enderio/
.curseclient
BotaniaVars.dat
betterfps.txt
minetweaker.log
options.txt
minecraftinstance.json
config/BetterAchievements/*.dat
config/BetterMinecraftChat/channels.json
config/BetterMinecraftChat/twitchintegration.json
config/betterminecraftchat.cfg
config/biomesoplenty/biomes/Put biome config files here
usercache.json
usernamecache.json
TimeUsage.txt
config/splash.properties
config/chiselsandbits_clipboard.cfg
